header {
  display: flex; width: 100vw;
  justify-content: center; align-items: center;
  height: 8vh; background-color: rebeccapurple;

  & a{color: white; font-size: 1.5em; padding: 15px;}
}

main{
  display: flex; width: 100vw; flex-direction: column;
  height: auto; align-items: center; justify-content: center;
}

div {
  display: flex; width: 100vw; flex-direction: column;
  height: 70vh; align-items: center; justify-content: center;

  & #titulo{ font-size: 80px;}
  & #subtitulo{ font-size: 50px;}
}


footer{
  display: flex; width: 100vw; justify-content: center;
  align-items: center; height: 5vh;
  background-color: rebeccapurple;
}