header {
  display: flex; width: 100%;
  justify-content: center; align-items: center;
  height: 10vh; background-color: wheat;

  & a{color: black; font-size: 1.5em; padding: 60px;}
}

main {
  display: flex; width: auto; flex-direction: column;
  height: 70vh; align-items: center; justify-content: center;
}


footer {
  display: flex; width: 100%; justify-content: center;
  align-items: center; height: 7vh;
  background-color: wheat; color: black;
}


